*{
    padding:0;
    margin:0;
}
.wrap{
    overflow: hidden;
    display: block;
    
}
.category-bar-wrapper{
    
    width: 100%;
    display:flex;
  justify-content: center;
  padding-bottom: 5px;
  
}
.float-left{
    
    font-size: 14px;
    padding-right:10px; 
   padding-left: 10px;
  
    display : inline-block
    
}
.hr{
    background-color: rgb(212, 209, 209);
    height: 1px;
    border: none;
}