.container-l {
    display: flex;
    height: 100vh;
    width: 100%;

    justify-content: center;
  align-items: center;
 
}

.form-l {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 228, 228);
    border-radius: 5px;
    padding: 30px;
}

.login-p {
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 80, 199);
}

.email-p , .password-p {
    font-size: 20px;
    font-weight: 600;

}
.email-input , .password-input {
    border: none;
    height: 30px;
}

.submit-l {
    border-radius: 0%;
    background-color: rgb(63, 63, 190);
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    border: none;
    padding: 5px;
}
